html,
body {
    height: 100%;
}

/* .form-signin {
  max-width: 330px;
  padding: 1rem;
} */

.form-signin .form-floating:focus-within {
    z-index: 2;
}

/* .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */

.vertical-center .container {
    vertical-align: middle;
}

.text-align-left {
    text-align: left;
}

.fs-label-sm {
    font-size: 12px;
}

.fs-small {
    font-size: 0.875em;
}

.fs-smaller {
    font-size: 0.75em;
}

.fs-smallest {
    font-size: 0.5em;
}

.icon-small {
    width: 25px;
    height: 25px;
}

th:not(:first-child) {
    text-align: center !important;
}

.fit,
.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #0489fe !important;
    color: #fff !important;
}
.table-hover tbody tr:hover td .dropdown-menu a {
    color: #000 !important;
}

.table-hover tbody tr a {
    color: #000;
}
.table-hover tbody tr:hover a {
    color: #fff;
}

.err-label {
    color: var(--bs-form-invalid-color);
}